.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;

    background: var(--yellow);
    width: 100%;
    height: 6rem;
}

.headerContainer h1 {
    color: var(--title);
}

.headerContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer input {
    border-radius: 6px 0 0 6px;
    border: 0;
    padding: 0.7rem;
    width: 20rem;
    font-size: 1rem;
    color: var(--text);
}

.headerContainer button {
    border-radius: 0 6px 6px 0;
    border: 0;
    background: var(--white);
    padding: 0.4rem;
}

.headerContainer button img {
    width: 1.5rem;  
}

@media screen and (max-width: 700px) {
    .headerContainer {
        padding: 0.6rem;
    }

    .headerContainer input {
        width: 10rem;
    }
}