.recipesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardsList {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recipeCard {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 20rem;
    background: var(--card);
    border-radius: 8px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

.recipeCard img {
    width: 18rem;
    border-radius: 12px;
}

.recipeCard p {
    font-size: 1.5rem;
}

.cardInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.cardInfo a {
    text-decoration: none;
    background: var(--yellow);
    border: 0;
    border-radius: 16px;
    padding: 0.4rem 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.mealType {
    background: rgb(226, 226, 226);
    border-radius: 16px;
    padding: 0.4rem 1rem;
    color: grey;
    font-size: 1rem;
}

.noResults {
    display: flex;
    align-items: center;
    margin-left: 50%;
}

@media screen and (max-width: 1300px) {
    .cardsList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1050px) {
    .cardsList {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .cardsList {
        grid-template-columns: 1fr;
    }

    .recipeCard {
        width: 22rem;
    }

    .recipeCard img {
        width: 20rem;
    }
}

@media screen and (max-width: 400px) {
    .recipeCard {
        width: 21rem;
    }

    .recipeCard img {
        width: 19rem;
    }
}