.recipesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardsList {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recipeCard {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 20rem;

    background: var(--card);
    border-radius: 8px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

.recipeCard img {
    width: 18rem;
    border-radius: 12px;
}

.recipeCard p {
    font-size: 1.5rem;
}

 .cardInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardInfo a{
    text-decoration: none;
    background: var(--yellow);
    border: 0;
    border-radius: 12px;
    padding: 6px;
    color: white;
}

.mealType {
    background: rgb(211, 211, 211);
    border-radius: 14px;
    padding: 4px 8px;
    color: var(--text);
    font-size: 0.9rem;
}