* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: gainsboro;
}

:root{
    --white:#fff;
    --background: #f1efeb;
    --yellow: #FFC452;
    --text: #414141;
    --title: #F9F6F1;
    --card: #ffffff;
}